<table>
<table id="businessStaffs" class="table table-striped">
  <thead>
    <tr>
      <th><%= t('business_unit') %></th>
      <th><%= t('post') %></th>
      <th><%= t('staff') %></th>
    </tr>
  </thead> 

  <tbody>
    <% @business_staffs.each do |bf| %>
      <tr data-link="<%= business_staff_path(bf) %>">
        <td><%= bf.business_unit.display_name %></td>
        <td><%= bf.post.display_name %></td>
        <td><%= bf.user.username %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '<i class="fa fa-plus-circle fa-2x"></i>'.html_safe, new_business_staff_path %>