<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= t("photo") %>
      </div>

      <div style="padding:0" class="panel-body">
        <div style="padding:0" class="container">
          <div class="row">
            <div class="col-md-12">
              <!-- Phgotos upload goes here -->

              <%= form_for @assignment, url: assignment_photos_path(@assignment), method: 'post',
                  html: {multipart: true} do |f| %>

                 <div class="text-center">
                   <div class="form-group">
                    <!--
                     <span class="btn btn-info text-babu">
                     -->
                     <span class="btn btn-default btn-file text-babu">
                       <i class="fa fa-camera fa-2x" aria-hidden="true"></i><br/>
                       <%= file_field_tag "images[]", type: :file, multiple: true %>
                     </span>
                   </div>
                 </div>

                <div class="text-center">
                  <%= button_tag type: 'submit', class: "btn btn-primary", data: {disable_with: "<i class='fa fa-spinner fa-spin fa-3x fa-fw'></i> "} do %>
                      <i class="fa fa-cloud-upload fa-2x" aria-hidden="true"></i>
                  <% end %>
                </div>

              <% end %>
            </div>
          </div>
            <div id="photos"><%= render 'photos/photos_list' %> </div>
        </div>
      </div>

    </div>
  </div>

</div>