
  <div class="panel panel-default">
    <div class="panel-heading"><%= t('business_unit') %> (<%= @chatroom.display_name %>)</div>
    <div class="panel-body">
      <%= simple_form_for(@chatroom) do |f| %>

        <div class="form-inputs">
          <%= f.input :name %>
          <%= f.input :chi_name %>   
          <%= f.association :incharge_user %>
        </div>

        <strong><%= t("staff") %></strong>
        <div class="container-fluid" style="border:1px solid #cecece;" ><br>
          <%= f.fields_for :chatroom_users   do |builder| %>
             <%= render 'chatroom_user_fields', :f => builder %>
          <% end %>
           <%= link_to_add_fields '<i class="fa fa-plus-circle fa-2x"></i>'.html_safe, f, :chatroom_users %>
        </div><br>

        <div class="form-actions">
            <%= button_tag type: 'submit', class: "fa fa-upload fa-2x" do %>
            <% end %>
            <%= link_to '<i class="fa fa-list-alt fa-2x"></i>'.html_safe,  chatrooms_path %>
        </div>

      <% end %>
          <% @chatroom.users.each do |user| %>
            <%= image_tag user_avatar(user, 30), class: "rounded-circle" %>
            <%= user.username %>
          <% end %>
    </div>
    </div>
  </div>
