<%= paginate @locations %>

<table>
  <thead>
    <tr>
      <th><%= t('code') %></th>
      <th><%= t('name') %></th>
      <th><%= t('chi_name') %></th>
      <th><%= t('parent') %></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr data-link="<%= location_path(location) %>">
        <td><%= link_to location.code, location %></td>
        <td><%= location.name %></td>
        <td><%= location.chi_name %></td>
        <td><%= location.parent.name if location.parent_id? %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '<i class="fa fa-plus-circle fa-2x"></i>'.html_safe, new_location_path %>

<h2><%= t('import') %></h2>

<%= form_tag import_locations_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
